* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fbfcfd;
  width: 100%;
  padding: 1rem 0 !important;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(247, 249, 254);
  text-align: center;
margin-right: 2rem;
  text-decoration: none;
}

li a:hover {
  border-bottom: 1px solid white;
}
.nav>h1{
  padding-left: 1rem;
  color: white !important;
}

.show{
  display: flex;
  flex-direction: column;
 
  background-color: black;
  padding: 2rem;
  position: relative;
}