/* App.css */

.book {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.plan>h1 {
  margin-top: 2.2rem;
  font-size: 2.8rem;
  color: #fff;

 
}

.card-container {
  display: grid;
  grid-template-columns: repeat(
    4,
    100px
  ); /* Adjust the number of columns as needed */
  gap: 5px;
  justify-content: center;
  margin: 2rem 0;
}

.card {
  width: 6rem;
  height: 6rem;
  background-color: #007bff;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.card.flipped {
  background-color: #fff;
  color: #007bff;
}

p {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  margin-top: 20px;
}
.b-btn{
  display: flex;
  width: 100%;
  height: 15vh;
  justify-content: space-between;
}
@media screen and (max-width:420px) {
  .book{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: auto;
    margin-bottom: 2rem;
  }
  .card-container{
    display: grid;
  grid-template-columns: repeat(
    3,
    90px
  ); /* Adjust the number of columns as needed */
  gap: 5px;
  justify-content: center;
  margin-top: 1.5rem;
  }
  
.card {
  width:5rem;
  height: 5rem;
  background-color: #007bff;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.b-btn{
  display: grid;
  width: 50%;
  height: 10vh;
  justify-content:safe;
}
.plan>h1{
  margin-top: 0.5rem;
}
h1>i{
  font-size: 1.7rem;
}
}