*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
  }

  a{
    text-decoration: none;
  }
  
  .nav_mob{
    width: 100%;
    height: 5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    color: aliceblue;
  }
  
  .logo >h1{
    font-size: 2rem ;
  }