*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}
body{
   background-image: url("../../Assests/bg.svg") ;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    top: 30%;
    
    
}
.head{
    font-size: 5.5rem;
    color:#fff;
}
.par{
    font-size: 2rem;
    padding-bottom: 0.8rem;
    color: #fff;
}
span{
    font-size: 1.1rem;
    padding-bottom: 3rem;
    color: #fff;
}
.btnn>a{
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
    border: 2px solid rgba(255, 255, 255, 0.922);
    word-spacing: 0.3rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 7rem;
    padding: 1rem  2rem 1rem 2rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btnn{
    background-color: transparent;
    border: none;
    
}
.btnn>a:hover  {
background-color: rgba(3, 3, 151, 0.806) ;
color: aliceblue !important;
color: aliceblue;
}
.btnn>.icon{
font-size: 1.4rem;

}

@media screen and (min-width:320px) {
    .head{
        font-size: 2.5rem;

    }

    .par{
        font-size: 1.6rem ;
    }
}

@media screen and (min-width:480px)  {
    .head{
        font-size: 3.5rem;
    }
}

@media screen and (min-width:780px) {
    .head{

        font-size: 5.5rem;
    }
    .par{
        font-size: 2.6rem;
    }
}