*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}
body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1997%26quot%3b)' fill='none'%3e%3crect width='1440' height='1000' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1998%26quot%3b)'%3e%3c/rect%3e%3cpath d='M85.56 467.24L162.43 467.24L162.43 507.78L85.56 507.78z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M814.63 69.86a50.99 50.99 0 1 0-90.86-46.31z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M483.01 324.53L499.8 324.53L499.8 341.32L483.01 341.32z' stroke='rgba(134%2c 21%2c 134%2c 1)'%3e%3c/path%3e%3cpath d='M171.57 792.76L240.2 792.76L240.2 863.2L171.57 863.2z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1037.25 612.82L1096.71 612.82L1096.71 672.28L1037.25 672.28z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1152.44 756.82a39.22 39.22 0 1 0-74.08 25.78z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1430.87 85.61L1430.95 85.61L1430.95 92.2L1430.87 92.2z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M987.82 314.86L993.35 314.86L993.35 318.62L987.82 318.62z' fill='rgba(21%2c 99%2c 134%2c 1)'%3e%3c/path%3e%3cpath d='M1093.96 368.41L1135.52 368.41L1135.52 409.97L1093.96 409.97z' fill='rgba(21%2c 99%2c 134%2c 1)'%3e%3c/path%3e%3cpath d='M619.51 353.63L655.94 353.63L655.94 366.88L619.51 366.88z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M532.34 87.11L546.35 87.11L546.35 101.12L532.34 101.12z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M165.72 201.62a81.42 81.42 0 1 0-71.31 146.4z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M113.77 730.74L125.91 730.74L125.91 742.88L113.77 742.88z' fill='rgba(134%2c 131%2c 21%2c 1)'%3e%3c/path%3e%3cpath d='M75.99 244.49L135.61 244.49L135.61 317.13L75.99 317.13z' stroke='rgba(21%2c 99%2c 134%2c 1)'%3e%3c/path%3e%3cpath d='M170.1 445.67L255.07 445.67L255.07 530.64L170.1 530.64z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M268.65 952.38L282.27 952.38L282.27 1031.79L268.65 1031.79z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M336 312.63a80.42 80.42 0 1 0-156.44-37.39z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M764.42 212.66 a34.8 34.8 0 1 0 69.6 0 a34.8 34.8 0 1 0 -69.6 0z' fill='%23d3b714'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1997'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='92.36%25' y1='111%25' x2='7.64%25' y2='-11%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1998'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 7%2c 216%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    top: 30%;
    
    
}
.head{
    font-size: 5.5rem;
    color:#fff;
}
.par{
    font-size: 2rem;
    padding-bottom: 0.8rem;
    color: #fff;
}
span{
    font-size: 1.1rem;
    padding-bottom: 3rem;
    color: #fff;
}
.btnn>a{
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
    border: 2px solid rgba(255, 255, 255, 0.922);
    word-spacing: 0.3rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 7rem;
    padding: 1rem  2rem 1rem 2rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btnn>a:hover  {
background-color: rgba(3, 3, 151, 0.806) ;
color: aliceblue !important;
color: aliceblue;
}
.btnn>.icon{
font-size: 1.4rem;

}

@media screen and (min-width:320px) {
    .head{
        font-size: 2.5rem;
    }
    .par{
        font-size: 1.6rem ;
    }
}

@media screen and (min-width:480px)  {
    .head{
        font-size: 3.5rem;
    }
}

@media screen and (min-width:780px) {
    .head{

        font-size: 5.5rem;
    }
    .par{
        font-size: 2.6rem;
    }
}